PORT=5001
JWT_SECRET=ganti_dengan_kunci_rahasia_jwt_anda
# URI MongoDB Atlas Cloud (opsional, jika kosong aplikasi otomatis menggunakan embedded JSON database):
MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/tanyajawab?retryWrites=true&w=majority
